
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="sidebar-avatar"></div>
      <h1>
        <a href="{{ site.baseurl }}/">
          {% t global.title %}
        </a>
      </h1>
      <p class="lead">{% t global.description %}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% capture url %}{% tl home     {{site.lang}} %}{% endcapture %}{% if page.url == url %} active{% endif %}" href="{{ url }}">{% t titles.home     %}</a>
      <a class="sidebar-nav-item{% capture url %}{% tl research {{site.lang}} %}{% endcapture %}{% if page.url == url %} active{% endif %}" href="{{ url }}">{% t titles.research %}</a>
      <a class="sidebar-nav-item{% capture url %}{% tl courses  {{site.lang}} %}{% endcapture %}{% if page.url == url %} active{% endif %}" href="{{ url }}">{% t titles.courses  %}</a>
      <a class="sidebar-nav-item{% capture url %}{% tl resume   {{site.lang}} %}{% endcapture %}{% if page.url == url %} active{% endif %}" href="{{ url }}">{% t titles.resume   %}</a>
    </nav>
    
    <ul class="sidebar-icon">
      <li><a href="https://physics.wustl.edu/people/shixing-simon-wang"><span class="icon-library"></span></a></li>
      <li><a href="https://github.com/ShixingWang"                     ><span class="icon-github" ></span></a></li>
      <li><a href="https://twitter.com/wang_shixing"                   ><span class="icon-twitter"></span></a></li>
      <li><a href="mailto:wangshixing@wustl.edu"                       ><span class="icon-mail2"  ></span></a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
